<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
The <a href="">Phone Book</a>
is a project to make a Cloud Address Book.<br />
This is the 3rd project of Object-Oriented Programming course
teaching by 유인경 professor and 정래성, 최지희 and 김관우 Teaching Assisstant.
</p>
