<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
The <a href="">Phone Book</a>
is a project to make a Cloud Address Book similar to 
Address Book on smart phones. <br />
This is the 3rd project of Object-Oriented Programming course
teaching by In-Gyong Yu professor and 3 Teaching Assisstants.
</p>
